Flask==3.0.0
requests==2.31.0
python-dotenv==1.0.0
bhashini_translator==0.3
Django==5.0.3
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-rest-swagger==2.2.0
drf-yasg==1.21.7
drf-spectacular==0.27.2
psycopg==3.1.18
